<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="spacer"></div>
  <div class="question">在你的前方，就是神秘山林的秘密洞穴的入口，人们说那里面有无尽的宝藏，但你面前时一道陡峭的悬崖，你会怎么做？</div>
  <div class="spacer"></div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processBusiness()">你动员其他部落的矮人一起帮助你

</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processBrave()">你尽力一跃跳过悬崖到达对面
</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processIntelligent()">你想办法建一座桥</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processReligious()">你祈祷上上天让你漂浮起来</div>
  </div>
</div>