<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="spacer"></div>
  <div class="question">在你前往神秘山林的路上，你和另一个部落的充满敌意的矮人狭路相逢，你会怎么做？
</div>
  <div class="spacer"></div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processReligious()">你祈祷获得帮助</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processIntelligent()">你选择另一条路</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processBrave()">你和他们战斗</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processBusiness()">你和他们协商</div>
  </div>
</div>