<div class="jumbotron">
  <h1>As you are on the way to the mysterious mountains, you encounter a hostile dwarf from another tribe, what will you do?</h1>
  <input type="radio" ng-model="answer" value="business" ng-click="process()">You negotiate with him</input>
  <input type="radio" ng-model="answer" value="brave" ng-click="process()">You fight with him</input>
  <input type="radio" ng-model="answer" value="intelligent" ng-click="process()">You take a different path</input>
  <input type="radio" ng-model="answer" value="religious" ng-click="process()">You pray for help</input>
</div>
