<div class="jumbotron">
  <h1>You found great treasure in the cave, what would you do with the treasure?</h1>
  <input type="radio" ng-model="answer" value="religious" ng-click="process()">Build a Grand Sanctuary to honor the God</input>
  <input type="radio" ng-model="answer" value="brave" ng-click="process()">Build a Phoenix's Forge to conquer other tribes</input>
  <input type="radio" ng-model="answer" value="business" ng-click="process()">Build a Bank of Smaug to start your own business empire</input>
  <input type="radio" ng-model="answer" value="intelligent" ng-click="process()">Build a Pegasus Cruiser to travel around the Dwarven World</input>
</div>
