<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="question">Right ahead of you, there is the entrance to the secret cave of the mysterious mountains, where it is said to be treasure, but there is a cliff in front of you. What will you do?</div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processBusiness()">You mobilize dwarves from other tribes to help you</div>
	  <div class="answer" ng-click="processBrave()">You choose to jump over the cliff</div>
	  <div class="answer" ng-click="processIntelligent()">You figure out the way to build a bridge</div>
	  <div class="answer" ng-click="processReligious()">You pray for the power of God to levitate you there</div>
  </div>
</div>