<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="spacer"></div>
  <div class="question">As you are on the way to the mysterious mountains, you encounter a hostile dwarf from another tribe, what will you do?</div>
  <div class="spacer"></div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processReligious()">You pray for help</div>
	  <div class="answer" ng-click="processIntelligent()">You take a different path</div>
	  <div class="answer" ng-click="processBrave()">You fight with him</div>
	  <div class="answer" ng-click="processBusiness()">You negotiate with him</div>
  </div>
</div>