<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="spacer"></div>
  <div class="question">In the cave, you see something shining in the distance. Your dwarven senses tells you its:</div>
  <div class="spacer"></div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processBusiness()">A pot of Gold!</div>
	  <div class="answer" ng-click="processBrave()">A merciless ancient guardian of Misty Mountain!</div>
	  <div class="answer" ng-click="processIntelligent()">A magical canon of wisdom</div>
	  <div class="answer" ng-click="processReligious()">A soft flowing stream of holy water!</div>
  </div>
</div>