<div class="jumbotron">
  <h1>Your Spirit Dwarf is</h1>
	<div ng-show="result === 'brave' ">
		<h2>Vala Gravel-Axe -The Brave</h2>
		<p>Courageous, phsyical, over-the-top - dwarves of this type are known for being brave in the face of danger. They will NEVER back down from a fight. Despite their barbaric appearance, they are also sensitive creatures who are fiercely loyal. Mess with them or their families, and you will never see another Arcadian sunrise.</p>
		<h2>"FOR ARCADIA~~~!!!"</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/brave.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
	<div ng-show="result === 'business' ">
		<h2>Tiernan Jewelbreaker - The Industrious</h2>
		<p>Industrious, ambitious and calculative - dwarves of this type are known for being shrewd businessmen. Possessing the gift of gab, unsuspecting (or inexperienced) barters always find themselves walking away with an empty gold bag, and a handful of smelly rotten fish (what even made you think that it was a tasty bag of sashimi?)</p>
		<h2>"And that fish shall be 500 shrillings, darling~"</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/business.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
	<div ng-show="result === 'religious' ">
		<h2>Albanwr Chip-Moon - The Religious</h2>
		<p>Innocent, peace-loving and happy - you can never find fault with dwarves of this type. Holding strong faith, they find hope even in the bleakest moments. They like spending time spinning in circles on huge green pastures under the sun. Human adventurers thought that it may be a ritual of some sort (probably a tribute to their Sun God); but in actual fact, they just like spinning.</p>
		<h2>"Ah~ The sky is beautiful today!"</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/religious.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
	<div ng-show="result === 'intelligent' ">
		<h2>Kinnat Bismuthsmith - The Intelligent</h2>
		<p>Intelligent, inquisitive and introspective - dwarves of this type are the smartest in Arcadia. Every technological advancements and buildings that sprawl the city of Arcadia are inventions of these great builders. They enjoy nothing but an intelligent discussion about philosophy, Arts and the Sciences (and how stupid the other dwarves are).</p>
		<h2>“Witness my next greatest invention! MUAHAHA!”</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/intelligent.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
</div>
