<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="spacer"></div>
  <div class="question">You found great treasure in the cave, what would you do with the treasure?</div>
  <div class="spacer"></div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processReligious()">Build a Grand Sanctuary to honor the God</div>
	  <div class="answer" ng-click="processIntelligent()">Build a Pegasus Cruiser to travel around the Dwarven World</div>
	  <div class="answer" ng-click="processBrave()">Build a Phoenix's Forge to conquer other tribes</div>
	  <div class="answer" ng-click="processBusiness()">Build a Bank of Smaug to start your own business empire</div>
  </div>
</div>