<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="spacer"></div>
  <div class="question">在洞穴裏，你看到遠處有東西在發光，你的小矮人直覺告訴你，那是：</div>
  <div class="spacer"></div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processBusiness()">一罐黃金
</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processBrave()">一個兇殘的遠古聖山守護神</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processIntelligent()">一本古老的智慧秘籍</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processReligious()">緩緩流淌的神聖溪水</div>
  </div>
</div>