<div class="jumbotron main_banner">
  <h2 class="highlight">你的內在矮人類型是:</h2>
	<div ng-show="result === 'brave' ">
		<h1>神勇武士</h1>
		<p>勇敢，強壯，歡樂——此類型的小矮人在危險面前無所畏懼。他們永遠也不會在一場爭鬥中認輸。儘管他們外表強悍，他們卻是無比忠誠的感性生物。挑釁他們或他們的家人，你就再也看不到阿卡迪亞的日出。</p>
		<h2 class="highlight">“為了阿卡迪亞～！！”</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/brave.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
	<div ng-show="result === 'business' ">
		<h1>吸金富豪</h1>
		<p>勤勞，上進，精明——此類型的矮人是精於世故的商人。擁有過人口才，使得與他們交易的新手常常落得錢袋空空，只能帶著一袋臭魚回家（而且他們還會讓人覺得那是一袋美味的刺身？）</p>
		<h2 class="highlight">”親愛的，那魚可值500先令呢～“</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/business.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
	<div ng-show="result === 'religious' ">
		<h1>精神守衛</h1>
		<p>純潔，愛好和平，快樂——這類型的矮人讓你永遠挑不出毛病。秉持著堅定的信念，他們即使在最荒涼的時刻也能找到希望。他們喜歡在陽光下的草原上轉圈，人類探險家會感到那是一種儀式（也許是敬拜他們的太陽神）。然而實際上，他們只是在轉圈而已。</p>
		<h2 class="highlight">“啊，天空真美啊！”</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/religious.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
	<div ng-show="result === 'intelligent' ">
		<h1>博學智者</h1>
		<p>智慧，好奇，內省——這類矮人是阿卡迪亞最聰明的矮人。遍布阿卡迪亞城市的科技進步和宏偉建築都是這群偉大的建造者促成的。沒有神秘比討論哲學，藝術和科學（以及其他矮人多麼愚蠢）更讓他們滿足的了。</p>
		<h2 class="highlight">”見證我下個最偉大的創造吧啊哈哈哈哈！“</h2>
		<div class="dwarfContainer">
	  		<img class="dwarf" src="assets/images/intelligent.png"/>
	  		<img class="gameTitle" src="assets/images/gameTitle.png"/>
  		</div>
	</div>
	<div>
		<button class="FBShareButton" ng-click="shareToFBTW()">分享至臉書</button>
	</div>
	<div class="fb-like" data-href="https://www.facebook.com/DwarvesOfArcadiaTW/?fref=ts" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
</div>
