<div id="question_wrapper" class="content_wrapper" style="display: block;">
  <div class="spacer"></div>
  <div class="question">One day you decide to go on a dwarf’s adventure, what is the first thing you bring with you?</div>
  <div class="spacer"></div>
  <div class="answers_wrapper">
	  <div class="answer" ng-click="processBrave()">Your Robust Axe</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processBusiness()">Your Bag of Gold</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processReligious()">Your Lucky Four Leave Clover</div>
	  <div class="answersSpacer"></div>
	  <div class="answer" ng-click="processIntelligent()">Your Trusty Map</div>
  </div>
</div>